body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#cartItems {
    margin-bottom: 20px;
}

.item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.item:last-child {
    border-bottom: none;
}

.item p {
    margin: 0;
}

.button-container {
    text-align: right;
}

#clearCartBtn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#clearCartBtn:hover {
    background-color: #d32f2f;
}

.orderBtn {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.orderBtn:hover {
    background-color: #45a049;
}
